services:
  mysql:
    image: mysql:8.0
    container_name: catalog-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: catalog_service
      MYSQL_USER: root
      MYSQL_PASSWORD: vicky00950K$
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  adminer:
    image: adminer
    container_name: catalog-adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  mysql_data:
